*{
    margin: 0 auto;
    padding: 0;
}
/* 
.maim{
    margin: 0 10%;
} */

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 80px;
    margin-top: -30px;
}

nav ul {
    width: fit-content;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    float: left;
    margin-right: 30px;
    color: #daa45c;    
}

nav ul li a{
    color: #daa45c;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover{
    text-decoration: underline;
}

#page1{
    /* background-image: url("/images/me.jpg"), url("images/bg.jpg") ;
    background-position: right;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat, repeat; */
    height: auto;
}

section{
    width: 100%;
    height: 800px;
    float: left;
}

.intro {
    display: flex;
    flex-direction: row;
}

 .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 50%; 
    background-color: #333;
    height: auto;
    
}

.left h1 {
    font-family: "Raleway";
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    text-align: left;
    text-align: center;
    margin-top: 250px;
}

hr {
    width: 50%;
    margin-top: 3%;
    background-color: #62acb5;
    border: .1rem solid #62acb5;
}

 .left h2 {
    font-family: "Raleway";
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
    font-size: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 0;
}

.decorated::before,
.decorated::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #62acb5;
    width: 25%;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.right{
    width: 50%;
    margin: 0%;
    /* background-color: #f2f2f2;  */
}

.right img{
    width: 100%;
    height: auto;
    align-self: right;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -5px;
}

#page2{
    background: #eee;    
    height: auto; 
}


h1 span{
    margin-top: 1%;
    font-size: 2.5em;
    font-weight: 300;
    color: #62acb5;

}

#page2 {
    height: auto;
}

#page2 h1 {
    text-align: center;
    margin-top: 5%;
}

.quote{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.page2{
    display: flex;
    flex-direction: row;
    height: 400px;
}
.profile_left{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 15%;
    text-align: left;
}

.profile_left h2{
    width: 100%;
    text-align: left;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 5%;
    color: #62acb5;
}

.profile_left h3 {
    width: 100%;
}

.profile_left p {
    width: 100%;
}

.vision {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
    font-weight: 300;
    color: black;
}


 .social_icons li {
    list-style: none;
    display: inline-block;
}

ul li img {
    width:35px;
    height:35px;
    margin-right: 10px;
}

.profile_center {
    width: 40%;
}

.profile_right{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 15%;
}

.profile_right h2{
    width: 100%;
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
    color: #62acb5;
    margin-bottom: 5%;
}

.profile_right p {
    text-align: left;
    word-spacing: 2px;
    line-height: 1.5;
}

.donate{
    text-align: center;
}

.donate p {
    margin-bottom: 1%;
}

.donate button{
    background-color: #daa45c;
    border-radius: 15px;
    font-size: 1em;
    padding: 0 5px;
    margin-bottom: 3%;
}

#page3{
    background: #333;  
    height: auto;  
}

#page3 h1 {
    text-align: center;
    margin-top: 5%;
}

.quote{
    color: #daa45c;
}

#page3 p{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.experience {
    margin-left: 5%;
}

.experience img{
    display: block;
    margin: 0 auto;
    width: 72px;
    height: 72px;
}

.experience h2{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 5%;
    color: #62acb5;
}

.experience1 {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
}

.time {
    /* background-color: green; */
    width: 30%;
    margin-right: 0%;
}

.time h3 {
    margin-bottom: 1%;
}

.award {
    display: flex;
    width: 50%;
    margin-left: 0%;
    flex-direction: column;
    /* background-color: blue; */
}

.award p {
    margin: 0;
    padding: 0;
}

.award ul {
    margin-left: 5%;
}

.link{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.link img{
    width: 32px;
    height: 32px;
}

.link a {
    text-decoration: none;
    width: 100%;
    float: left;
    align-self: center;
    margin-left: 1%;
    /* background-color: pink; */
    color: #62acb5;
}

#page4{
    background-color: #eee;  
    height: auto; 
    color: black;
  
}

#page4 h1 {
    text-align: center;
    margin-top: 5%;
}

#page4 p{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.abilities_main {
    display: flex;
    flex-direction: column;
}

.abilities {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills {
    width: 50%;
    margin-left: 20%;
}

.skills1 {
    width: 50%;
    margin-right: 20%;
}

.skills1 img {

    display: block;
}

.rate {
    display: flex;
    flex-direction: row;
}

.rate_title {
    width: 50%;
    margin-top: 2%;
    color: #62acb5;
}

.rate_star {
    width: 50%;
    margin-top: 2%;
    margin-right: 0%;
}

.checked {
    color: #daa45c;
}

.tools {
    width: 50%;
    margin-left: 20%;
    margin-right: 0%;
}

.tools1 {
    width: 50%;
    margin-right: 20%;
    margin-left: 0%;

}

.tools1 img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.abilities_main button {
    background-color: #daa45c;
    border-radius: 5px;
    font-size: 1em;
    padding: 0 5px;
    margin-bottom: 10%;
}

#page5{
    background-color: #333;    
    color: #fff;
    height: auto;
}

#page5 h1 {
    text-align: center;
    margin-top: 5%;
}

#page5 p{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.projects{
    display: flex;
    flex-direction: row;
}

.projects_left {
    width: 50%;
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    margin-right: 3%;
    margin-bottom: 3%;

}

.projects_left img{
    width: 400px;
    height: 400px;
    margin-left: 0%;
    padding: 0%;
    
}

/* .button_left {
    text-align: center;
    background-color: blue;
    height: 40px;
    width: 40px;
    margin-right: 0%;
    padding: 0%;
} */

.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    width: 50px;
    height: 50px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.left_btn {
    margin-right: -5%;
    padding: 0%;
}

.right_btn {
    margin-left: -5%;
    padding: 0%;
}

.w3-black {
    color:#fff!important;
    background-color:#62acb5!important
}

.w3-display-left{
    position:relative;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.projects_right img {
    width: 400px;
    height: 400px;
}
.projects_right {
    width: 50%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.w3-display-right{
    position:relative;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.container{
    padding: 1em 0;
    float: left;
    width: 100%;
}

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background:rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .fadeIn-top{
    top: 20%;
  }

#page6{
    background-color: #eee;
    height: auto;
}

#page6 h1{
    text-align: center;
    margin-top: 5%;
} 
#page6 p {
    text-align: center;
    margin-top: 3%;
}

#page6 p a {
    text-decoration: none;
    color: #62acb5;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
}

.footer_social_icons_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-content: flex-start;
    margin-left: 5%;
}

.footer_social_icons_left li {
    width: 100%;
    margin-top: 5%;
}

.footer_social_icons_left li img {
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 10%;
}
    
.footer_social_icons_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
    float: left;
    /* margin-left: 10%; */
}

.footer_social_icons_right li {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.footer_social_icons_right li img{
    width: 150px;
    height: 150px;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
     *{width: 100%;}
    body{width: 100%}
    .main{width: 100%;}
    nav{
        width:100%;
        position:fixed;
        text-align: center;
        display: flex;
        flex-direction: row;
        top: 40px;
      }
  
      nav ul {
          width: 100%;
          margin: 0;   
          padding: 0;     
      }
     ul{
         display: flex;
         width: 10%;
         font-size: 1.3em;
         margin: 0px;
         padding: 0;
      }
     nav ul li{
          padding: 0;
          margin-bottom: 30px;
      } 
  
    #page1{font-size: 1.4em;}
    
  
      #page2 {font-size: 1.6em;}
      #page2 .quote{font-size: 0.9em;}
    .decorated{font-size: 1.3em;}
    .vision{font-size: 0.8em; font-style: italic;}

    .page2{
        width:100%;
        
      }
  
    .profile_left{
        font-size: 0.7em;
        margin: 0;
        width: 35%;
        text-align: center;
    }
  
    .profile_left h2 {
        text-align: center;
    }

    .social_icons{
        text-align: center;
        width: 100%;
    }
    .profile_center{
        width: 30%;
        margin: 0 auto;
    }
    .profile_right{
        font-size: 0.7em;
        margin: 0;
        width: 35%;
        height: auto;
        align-content: center;
    }
  
    .profile_right h2 {
        width: 100%;
        text-align: center;
    }
    .profile_right h2 + p{
        width: 90%;
        text-align: center;
        margin: 10pxpx;
    }
  
    .donate{
        font-size: 0.7em;
        margin-top: 20px;
    }
  
    .donate button {width: 80px; height: 30px;}
  
    .decorated::before,
  .decorated::after {
      display: inline-block;
      content: "";
      border-top: .2rem solid #62acb5;
      width: 20%;
      margin: 0 1rem;
      transform: translateY(-1rem);
  }
  .quote{font-size: 0.8em;}

    #page3 .decorated {font-size: 1.1em}
    #page3 {
        font-size: 1.8em;
        margin: 0;
        padding: 0;
    }
  
    .experience {
        width: 100%;
        margin: 0 auto;
    }

    .experience h2{font-size: 1.3em;}
  
    .experience1{
        background-color:rgba(238,238,238,0.1);
        width: 100%;
        margin:0;
    }
    .time{
      font-size: 0.7em;
        margin: 5px;
        width: 50%;
        text-align: left;
        text-align: center;
    }
  
    .award{
        font-size: 0.6em;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
  
    .award ul{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .award ul li {
        margin-right: 150px;
        width: 100%;
    }
  
    .link {
        width: 100%;
        text-align: center;
      }
      .link a {
          width: 50%;
      }
  
    .link img{
        float: right;
        text-align: right;
        margin-right: -5px;
      }

      #page4{font-size: 1.2em;}
  
      #page4 .decorated{font-size: 1.7em;}

      #page4 .quote{font-size: 1.2em;}

      .abilities_main{
      }

      .abilities{
          width: 100%;
      }

      .skills{
          width: 100%;
          margin-left: 10%;
      }

      .skills1{
          width: 100%;
          margin-right: 10%;
      }

      .skills1 img{
          width: 190px;
          height: 190px;
      }
  
     
     .tools{
        width: 100%;
        margin-left: 10%;
    }

    .tools1{
        width: 100%;
        margin-right: 10%;
    }

    .tools1 img{
        width: 150px;
        height: 150px;
    }

   .rate_star{
       display: flex;
       flex-direction: row;
   }

   .abilities_main a{
       width: 100%;
       text-align: center;
       margin: 0;
   }

   .abilities_main button{
       width: 250px;
       height: 30px;
       margin: 0;
   }


      #page5{font-size: 1.3em;}
      #page5 .quote{font-size: 1.1em;}
      #page5 .decorated{font-size: 1.2em;}
      #page5 .decorated::before,
      #page5 .decorated::after {
          display: inline-block;
          content: "";
          border-top: .2rem solid #62acb5;
          width: 12%;
          margin: 0 1rem;
          transform: translateY(-0.5rem);
      }
  
      .projects{
          text-align: center;
      }
  
      .projects img{
          width: 100%;
          height: 100%;
      }

      .projects_left{
          width: 100%;
          margin: 0px;
      }
  
      .projects_right{
          width: 100%;
          margin: 0;
      }
  
      .left_btn{
          width: 150px;
          margin-right: -190px;
      }
  
      .right_btn{
          width: 150px;
          margin-left: -190px;
      }

      #page6 {font-size: 1.3em;}
      #page6 .decorated{font-size: 1.6em;}
      #page6 .quote{font-size: 1.1em;}
  
   
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
  
   *{width: 100%;}
    body{width: 100%}
    .main{width: 100%;}
    nav{
        width:100%;
        position:fixed;
        text-align: center;
        display: flex;
        flex-direction: row;
        top: 40px;
        background-color: pink;
      }
  
      nav ul {
          width: 100%;
          margin: 0;   
          padding: 0; 
          background-color: pink;    
      }
     ul{
         display: flex;
         width: 10%;
         font-size: 1.1em;
         margin: 0px;
         padding: 0;
         background-color: pink;
      }
     nav ul li{
          padding: 0;
          margin-bottom: 30px;
          background-color: pink;
      } 
  
    #page1{font-size: 1.4em;}
    
  
      #page2 {font-size: 1.3em;}
      #page2 .quote{font-size: 0.9em;}
    .decorated{font-size: 1.3em;}
    .vision{font-size: 0.8em; font-style: italic;}
  
    .page2{
        width:100%;
        
      }
  
    .profile_left{
        font-size: 0.7em;
        margin: 0;
        width: 35%;
        text-align: center;
    }
  
    .profile_left h2 {
        text-align: center;
    }

    .social_icons{
        text-align: center;
        width: 100%;
    }
    .profile_center{
        width: 30%;
        margin: 0 auto;
    }
    .profile_right{
        font-size: 0.7em;
        margin: 0;
        width: 35%;
        height: auto;
        align-content: center;
    }
  
    .profile_right h2 {
        width: 100%;
        text-align: center;
    }
    .profile_right h2 + p{
        width: 90%;
        text-align: center;
        margin: 10pxpx;
    }
  
    .donate{
        font-size: 0.7em;
        margin-top: 20px;
    }
  
    .donate button {width: 80px; height: 30px;}
  
    .decorated::before,
  .decorated::after {
      display: inline-block;
      content: "";
      border-top: .2rem solid #62acb5;
      width: 20%;
      margin: 0 1rem;
      transform: translateY(-1rem);
  }
  .quote{font-size: 0.8em;}
  
    #page3 .decorated {font-size: 1.1em}
    #page3 {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }
  
    .experience {
        width: 100%;
        margin: 0 auto;
    }

    .experience h2{font-size: 1.3em;}
  
    .experience1{
        background-color:rgba(238,238,238,0.1);
        width: 100%;
        margin:0;
    }
    .time{
      font-size: 0.7em;
        margin: 5px;
        width: 50%;
        text-align: left;
        text-align: center;
    }
  
    .award{
        font-size: 0.6em;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
  
    .award ul{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .award ul li {
        margin-right: 150px;
        width: 100%;
    }
  
    .link {
        width: 100%;
        text-align: center;
      }
      .link a {
          width: 50%;
      }
  
    .link img{
        float: right;
        text-align: right;
        margin-right: -5px;
      }

      #page4{font-size: 1em;}
  
      #page4 .decorated{font-size: 1.7em;}

      #page4 .quote{font-size: 1.1em;}

      .abilities_main{
      }

      .abilities{
          width: 100%;
      }

      .skills{
          width: 100%;
          margin-left: 10%;
      }

      .skills1{
          width: 100%;
          margin-right: 10%;
      }

      .skills1 img{
          width: 190px;
          height: 190px;
      }
  
     
     .tools{
        width: 100%;
        margin-left: 10%;
    }

    .tools1{
        width: 100%;
        margin-right: 10%;
    }

    .tools1 img{
        width: 150px;
        height: 150px;
    }

   .rate_star{
       display: flex;
       flex-direction: row;
   }

   .abilities_main a{
       width: 100%;
       text-align: center;
       margin: 0;
   }

   .abilities_main button{
       width: 180px;
       height: 30px;
       margin: 0;
   }


      #page5{font-size: 1.3em;}
      #page5 .quote{font-size: 0.9em;}
      #page5 .decorated{font-size: 1.1em;}
      #page5 .decorated::before,
      #page5 .decorated::after {
          display: inline-block;
          content: "";
          border-top: .2rem solid #62acb5;
          width: 12%;
          margin: 0 1rem;
          transform: translateY(-0.5rem);
      }
  
      .projects{
          
          text-align: center;
      }
  
      .projects img{
          width: 100%;
          height: 100%;
      }

      .projects_left{
          width: 100%;
          margin: 0px;
      }
  
      .projects_right{
          width: 100%;
          margin: 0;
      }
  
      .left_btn{
          size: 150%;
          width: 150px;
          margin-right: -25px;
      }
  
      .right_btn{
          width: 150px;
          margin-left: -25px;
      }
  
      #page6 {font-size: 1.1em;}
      #page6 .decorated{font-size: 1.5em;}
      #page6 .quote{font-size: 1.1em;}
  
   
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  
    *{width: 100%;}
    body{width: 100%}
    .main{width: 100%;}
    nav{
        width:100%;
        position:fixed;
        display: flex;
        flex-direction: row;
        top: 40px;
      }
  
      nav ul {
          width: 100%;
          margin: 0;   
          padding: 0;     
      }
     ul{
         display: flex;
         width: 100%;
         font-size: 1.1em;
         margin: 0px;
         padding: 0;
      }
     nav ul li{
          padding: 0;
          margin-right: 9px;
          margin-left: 9px;
          margin-bottom: 30px;
      }
  
    /* .left{display: none;} */
    #page1{font-size: 1.4em;}
    .intro{
        display: flex;
        flex-direction: column;
    }
    .intro div:nth-child(1) {
      order: 1;
  }
      .left {
          width: 100%;
          height: 100%;
          margin-top: -60px;
          padding: 0;
          margin-bottom: 0px;
      }
  
      .left h1 {
          margin: 0;
          font-size: 1.3em;
      }
  
      .left h2 {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 2em;
      }
  
  
    .right{
        width: 100%;
        height: 100%;
      }
      .right img{
          height: 100%;
      }
      #page2 {font-size: 1.2em;}
      #page2 .quote{font-size: 0.9em;}
    .decorated{font-size: 1.3em;}
    .vision{font-size: 0.8em; font-style: italic;}
  
    .page2{
        width:100%;
        display: flex;
        height: 650px;
        flex-direction: column;
      }
  
      .page2 div:nth-child(2) {
          order: 1;
      }
      .page2 div:first-child {
          order: 2;
      }
  
  
    .profile_left{
        font-size: 0.7em;
        margin: 0;
        height: 300px;
        width: 100%;
        text-align: center;
    }
  
    .profile_left h2 {
        text-align: center;
    }

    .social_icons{
    }
    .profile_center{
        width: 50%;
        margin: 0 auto;
    }
    .profile_right{
        font-size: 0.7em;
        margin: 0;
        width: 100%;
        height: 150px;
        align-content: center;
    }
  
    .profile_right h2 {
        width: 100%;
        text-align: center;
    }
    .profile_right h2 + p{
        width: 90%;
        text-align: center;
        margin: 10pxpx;
    }
  
    .donate{
        font-size: 0.7em;
        margin-top: 220px;
    }
  
    .donate button {width: 80px; height: 30px;}
  
    .decorated::before,
  .decorated::after {
      display: inline-block;
      content: "";
      border-top: .2rem solid #62acb5;
      width: 18%;
      margin: 0 1rem;
      transform: translateY(-0.5rem);
  }
  .quote{font-size: 0.8em;}
    #page3 .decorated {font-size: 1em}
    #page3 {
        font-size: 1.4em;
        margin: 0;
        padding: 0;
    }
  
    .experience {
        width: 100%;
        margin: 0 auto;}
  
    .experience1{
        background-color:rgba(238,238,238,0.1);
        width: 100%;
        margin:0;
    }
    .time{
      font-size: 0.7em;
        margin: 5px;
        width: 50%;
        text-align: left;
        text-align: center;
    }
  
    .award{
        font-size: 0.6em;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: -5px;
    }
  
    .award ul{
        display: flex;
        flex-direction: column;
    }
  
    .link {
        width: 100%;
        text-align: center;
      }
      .link a {
          width: 50%;
      }
  
    .link img{
        float: right;
        text-align: right;
        margin-right: -5px;
      }
  
      #page4{font-size: 1em;}

      #page4 .quote{font-size: 1.1em;}
  
      .abilities{
          display: flex;
          flex-direction: column;
      }
  
      .skills{
          width: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
      }
  
      .skills h2{margin: 20px;}
  
      .rate_title{
          margin-left: 20px;
      }
  
      .rate_star{
          margin-left: -10px;
          display: flex;
          flex-direction: row;
      }
  
      .abilities div:nth-child(1) {
          order:1 ;
      }
      .skills div:nth-child(2) {
          order: 1;
      }
      .tools div:nth-child(2) {
          order: 1;
      }
  
      .skills1{
          width: 100%;
      }
  
      .skills1 img{
          
          width: 50%;
      }
  
      .tools1{
          width: 100%;
      }
      
      .tools1 img{
          width: 30%;
      }
  
      .tools{
          width: 100%;
          margin: 0;
      }
  
      .tools h2{margin: 20px;}
  
      .abilities_main a{
          text-align: center;
          margin: 0;
      }
      .abilities_main button {
          width: 200px;
          height: 30px;
          margin: 0;
          text-align: center;
      }
  
      #page5{font-size: 1.3em;}
      #page5 .quote{font-size: 0.8em;}
      #page5 .decorated{font-size: 0.7em;}
      #page5 .decorated::before,
      #page5 .decorated::after {
          display: inline-block;
          content: "";
          border-top: .2rem solid #62acb5;
          width: 12%;
          margin: 0 1rem;
          transform: translateY(-0.5rem);
      }
  
      .projects{
          display: flex;
          flex-direction: column;
          text-align: center;
      }
  
      .projects img{
          width: 100%;
          height: 100%;
      }

      .projects_left{
          width: 100%;
          margin: 0px;
      }
  
      .projects_right{
          width: 100%;
          margin: 0;
      }
  
      .left_btn{
          size: 150%;
          width: 150px;
          margin-right: -125px;
      }
  
      .right_btn{
          width: 150px;
          margin-left: -125px;
      }
  
      #page6 {font-size: 1em;}
      #page6 .quote{font-size: 1.1em;}
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  Should make changes to this
*/

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  
    *{width: 100%;}
    body{width: 100%}
    .main{width: 100%;}
    nav{
        width:100%;
        position:fixed;
        display: flex;
        flex-direction: row;
        top: 40px;
      }
  
      nav ul {
          width: 100%;
          margin: 0;   
          padding: 0;     
      }
     ul{
         display: flex;
         width: 100%;
         font-size: 12px;
         margin: 0px;
         padding: 0;
      }
     nav ul li{
          padding: 0;
          margin-right: 9px;
          margin-left: 9px;
          margin-bottom: 30px;
      }
  
    /* .left{display: none;} */
    #page1{font-size: 0.9em;}
    .intro{
        display: flex;
        flex-direction: column;
    }
    .intro div:nth-child(1) {
      order: 1;
  }
      .left {
          width: 100%;
          height: 100%;
          margin-top: -25px;
          padding: 0;
          margin-bottom: 0px;
      }
  
      .left h1 {
          margin: 0;
          font-size: 1.3em;
      }
  
      .left h2 {
          margin: 3;
          font-size: 2em;
      }
  
  
    .right{
        width: 100%;
        height: 100%;
      }
      .right img{
          height: 100%;
      }
      #page2 {font-size: 1.2em;}
      #page2 .quote{font-size: 0.8em;}
    .decorated{font-size: 1.2em;}
    .vision{font-size: 0.8em; font-style: italic;}
  
    .page2{
        width:100%;
        display: flex;
        height: 650px;
        flex-direction: column;
      }
  
      .page2 div:nth-child(2) {
          order: 1;
      }
      .page2 div:first-child {
          order: 2;
      }
  
  
    .profile_left{
        font-size: 0.7em;
        margin: 0;
        height: 300px;
        width: 100%;
        text-align: center;
    }
  
    .profile_left h2 {
        text-align: center;
    }

    .social_icons{
    }
    .profile_center{
        width: 50%;
        margin: 0 auto;
    }
    .profile_right{
        font-size: 0.7em;
        margin: 0;
        width: 100%;
        height: 150px;
        align-content: center;
    }
  
    .profile_right h2 {
        width: 100%;
        text-align: center;
    }
    .profile_right h2 + p{
        width: 90%;
        text-align: center;
        margin: 10pxpx;
    }
  
    .donate{
        font-size: 0.7em;
        margin-top: 70px;
    }
  
    .donate button {width: 80px; height: 30px;}
  
    .decorated::before,
  .decorated::after {
      display: inline-block;
      content: "";
      border-top: .2rem solid #62acb5;
      width: 18%;
      margin: 0 1rem;
      transform: translateY(-0.5rem);
  }
  .quote{font-size: 0.7em;}
    #page3 .decorated {font-size: 1em}
    #page3 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }
  
    .experience {
        width: 100%;
        margin: 0 auto;}
  
    .experience1{
        background-color:rgba(238,238,238,0.1);
        width: 100%;
        margin:0;
    }
    .time{
      font-size: 0.7em;
        margin: 5px;
        width: 50%;
        text-align: left;
        text-align: center;
    }
  
    .award{
        font-size: 0.6em;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: -5px;
    }
  
    .award ul{
        display: flex;
        flex-direction: column;
    }
  
    .link {
        width: 100%;
        text-align: center;
      }
      .link a {
          width: 50%;
      }
  
    .link img{
        float: right;
        text-align: right;
        margin-right: -5px;
      }
  
      #page4{font-size: 0.9em;}

      #page4 .quote{font-size: 1em;}
  
      .abilities{
          display: flex;
          flex-direction: column;
      }
  
      .skills{
          width: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
      }
  
      .skills h2{margin: 20px;}
  
      .rate_title{
          margin-left: 20px;
      }
  
      .rate_star{
          margin-left: -10px;
          display: flex;
          flex-direction: row;
      }
  
      .abilities div:nth-child(1) {
          order:1 ;
      }
      .skills div:nth-child(2) {
          order: 1;
      }
      .tools div:nth-child(2) {
          order: 1;
      }
  
      .skills1{
          width: 100%;
      }
  
      .skills1 img{
          
          width: 50%;
      }
  
      .tools1{
          width: 100%;
      }
      
      .tools1 img{
          width: 30%;
      }
  
      .tools{
          width: 100%;
          margin: 0;
      }
  
      .tools h2{margin: 20px;}
  
      .abilities_main a{
          text-align: center;
          margin: 0;
      }
      .abilities_main button {
          width: 200px;
          height: 30px;
          margin: 0;
          text-align: center;
      }
  
      #page5{font-size: 1.1em;}
      #page5 .quote{font-size: 0.8em;}
      #page5 .decorated{font-size: 0.7em;}
      #page5 .decorated::before,
      #page5 .decorated::after {
          display: inline-block;
          content: "";
          border-top: .2rem solid #62acb5;
          width: 12%;
          margin: 0 1rem;
          transform: translateY(-0.5rem);
      }
  
      .projects{
          display: flex;
          flex-direction: column;
          text-align: center;
      }
  
      .projects img{
          width: 300px;
          height: 300px;
          margin: 0;
      }
  
      .projects_left{
          width: 100%;
          margin: 0;
      }
  
      .projects_right{
          width: 100%;
          margin: 0;
      }
  
      .left_btn{
      }
  
      .right_btn{
          margin-left: -25px;
      }
  
      #page6 {font-size: 0.9em;}
      #page6 .quote{font-size: 1em;}
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    *{width: 100%;}
    body{width: 100%}
    .main{width: 100%;}
    nav{
        width:100%;
        position:fixed;
        display: flex;
        flex-direction: row;
        top: 40px;
      }
  
      nav ul {
          width: 100%;
          margin: 0;   
          padding: 0;     
      }
     ul{
         display: flex;
         width: 100%;
         font-size: 12px;
         margin: 0px;
         padding: 0;
      }
     nav ul li{
          padding: 0;
          margin-right: 9px;
          margin-left: 9px;
          margin-bottom: 30px;
      }
  
    /* .left{display: none;} */
    #page1{font-size: 0.9em;}
    .intro{
        display: flex;
        flex-direction: column;
    }
    .intro div:nth-child(1) {
      order: 1;
  }
      .left {
          width: 100%;
          height: 100%;
          margin-top: -25px;
          padding: 0;
          margin-bottom: 0px;
      }
  
      .left h1 {
          margin: 0;
          font-size: 1.3em;
      }
  
      .left h2 {
          margin: 3;
          font-size: 2em;
      }
  
  
    .right{
        width: 100%;
        height: 100%;
      }
      .right img{
          height: 100%;
      }
      #page2 {font-size: 1.2em;}
      #page2 .quote{font-size: 0.8em;}
    .decorated{font-size: 1.2em;}
    .vision{font-size: 0.8em; font-style: italic;}
  
    .page2{
        width:100%;
        display: flex;
        height: 650px;
        flex-direction: column;
      }
  
      .page2 div:nth-child(2) {
          order: 1;
      }
      .page2 div:first-child {
          order: 2;
      }
  
  
    .profile_left{
        font-size: 0.7em;
        margin: 0;
        height: 300px;
        width: 100%;
        text-align: center;
    }
  
    .profile_left h2 {
        text-align: center;
    }

    .social_icons{
    }
    .profile_center{
        width: 50%;
        margin: 0 auto;
    }
    .profile_right{
        font-size: 0.7em;
        margin: 0;
        width: 100%;
        height: 150px;
        align-content: center;
    }
  
    .profile_right h2 {
        width: 100%;
        text-align: center;
    }
    .profile_right h2 + p{
        width: 90%;
        text-align: center;
        margin: 10pxpx;
    }
  
    .donate{
        font-size: 0.7em;
        margin-top: 70px;
    }
  
    .donate button {width: 80px; height: 30px;}
  
    .decorated::before,
  .decorated::after {
      display: inline-block;
      content: "";
      border-top: .2rem solid #62acb5;
      width: 18%;
      margin: 0 1rem;
      transform: translateY(-0.5rem);
  }
  .quote{font-size: 0.7em;}
    #page3 .decorated {font-size: 1em}
    #page3 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }
  
    .experience {
        width: 100%;
        margin: 0 auto;}
  
    .experience1{
        background-color:rgba(238,238,238,0.1);
        width: 100%;
        margin:0;
    }
    .time{
      font-size: 0.7em;
        margin: 5px;
        width: 50%;
        text-align: left;
        text-align: center;
    }
  
    .award{
        font-size: 0.6em;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: -5px;
    }
  
    .award ul{
        display: flex;
        flex-direction: column;
    }
  
    .link {
        width: 100%;
        text-align: center;
      }
      .link a {
          width: 50%;
      }
  
    .link img{
        float: right;
        text-align: right;
        margin-right: -5px;
      }
  
      #page4{font-size: 0.9em;}

      #page4 .quote{font-size: 1em;}
  
      .abilities{
          display: flex;
          flex-direction: column;
      }
  
      .skills{
          width: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
      }
  
      .skills h2{margin: 20px;}
  
      .rate_title{
          margin-left: 20px;
      }
  
      .rate_star{
          margin-left: -10px;
          display: flex;
          flex-direction: row;
      }
  
      .abilities div:nth-child(1) {
          order:1 ;
      }
      .skills div:nth-child(2) {
          order: 1;
      }
      .tools div:nth-child(2) {
          order: 1;
      }
  
      .skills1{
          width: 100%;
      }
  
      .skills1 img{
          
          width: 50%;
      }
  
      .tools1{
          width: 100%;
      }
      
      .tools1 img{
          width: 30%;
      }
  
      .tools{
          width: 100%;
          margin: 0;
      }
  
      .tools h2{margin: 20px;}
  
      .abilities_main a{
          text-align: center;
          margin: 0;
      }
      .abilities_main button {
          width: 200px;
          height: 30px;
          margin: 0;
          text-align: center;
      }
  
      #page5{font-size: 1.1em;}
      #page5 .quote{font-size: 0.8em;}
      #page5 .decorated{font-size: 0.7em;}
      #page5 .decorated::before,
      #page5 .decorated::after {
          display: inline-block;
          content: "";
          border-top: .2rem solid #62acb5;
          width: 12%;
          margin: 0 1rem;
          transform: translateY(-0.5rem);
      }
  
      .projects{
          display: flex;
          flex-direction: column;
          text-align: center;
      }
  
      .projects img{
          width: 300px;
          height: 300px;
          margin: 0;
      }
  
      .projects_left{
          width: 100%;
          margin: 0;
      }
  
      .projects_right{
          width: 100%;
          margin: 0;
      }
  
      .left_btn{
      }
  
      .right_btn{
          margin-left: -25px;
      }
  
      #page6 {font-size: 0.9em;}
      #page6 .quote{font-size: 1em;}
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  *{width: 100%;}
  body{width: 100%}
  .main{width: 100%;}
  nav{
      width:100%;
      position:fixed;
      display: flex;
      flex-direction: row;
      top: 40px;
    }

    nav ul {
        width: 100%;
        margin: 0;   
        padding: 0;     
    }
   ul{
       display: flex;
       width: 100%;
       font-size: 12px;
       margin: 0px;
       padding: 0;
    }
   nav ul li{
        padding: 0;
        margin-right: 9px;
        margin-left: 9px;
        margin-bottom: 30px;
    }

  /* .left{display: none;} */
  #page1{font-size: 0.9em;}
  .intro{
      display: flex;
      flex-direction: column;
  }
  .intro div:nth-child(1) {
    order: 1;
}
    .left {
        width: 100%;
        height: 100%;
        margin-top: -25px;
        padding: 0;
        margin-bottom: 0px;
    }

    .left h1 {
        margin: 0;
        font-size: 1.3em;
    }

    .left h2 {
        margin: 3;
        font-size: 2em;
    }


  .right{
      width: 100%;
      height: 100%;
    }
    .right img{
        height: 100%;
    }

  .decorated{font-size: 0.9em;}
 #page2 .vision{font-size: 0.9em; font-style: italic;}
#page2 {font-size: 0.9em;}
  .page2{
      width:100%;
      display: flex;
      height: 650px;
      flex-direction: column;
    }

    .page2 div:nth-child(2) {
        order: 1;
    }
    .page2 div:first-child {
        order: 2;
    }


  .profile_left{
      font-size: 0.7em;
      margin: 0;
      height: 300px;
      width: 100%;
      text-align: center;
  }

  .profile_left h2 {text-align: center;}
  .profile_center{
      width: 50%;
      margin: 0 auto;
  }
  .profile_right{
      font-size: 0.7em;
      margin: 0;
      width: 100%;
      height: 150px;
      align-content: center;
  }

  .profile_right h2 {
      width: 100%;
      text-align: center;
  }
  .profile_right h2 + p{
      width: 90%;
      text-align: center;
      margin: 10pxpx;
  }

  .donate{font-size: 0.7em;}

  .donate button {width: 80px; height: 30px;}

  .decorated::before,
.decorated::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #62acb5;
    width: 18%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}
.quote{font-size: 0.9em;}
  #page3 .decorated {font-size: 1em}
  #page3 {
      font-size: 0.9em;
      margin: 0;
      padding: 0;
  }

  .experience {
      width: 100%;
      margin: 0 auto;}

  .experience1{
      background-color:rgba(238,238,238,0.1);
      width: 100%;
      margin:0;
  }
  .time{
    font-size: 0.7em;
      margin: 5px;
      width: 50%;
      text-align: left;
      text-align: center;
  }

  .award{
      font-size: 0.6em;
      width: 50%;
      text-align: left;
      display: flex;
      flex-direction: column;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: -5px;
  }

  .award ul{
      display: flex;
      flex-direction: column;
  }

  .link {
      width: 100%;
      text-align: center;
    }
    .link a {
        width: 50%;
    }

  .link img{
      float: right;
      text-align: right;
      margin-right: -5px;
    }

    #page4{font-size: 0.9em;}

    .abilities{
        display: flex;
        flex-direction: column;
    }

    .skills{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .skills h2{margin: 20px;}

    .rate_title{
        margin-left: 20px;
    }

    .rate_star{
        margin-left: -10px;
        display: flex;
        flex-direction: row;
    }

    .abilities div:nth-child(1) {
        order:1 ;
    }
    .skills div:nth-child(2) {
        order: 1;
    }
    .tools div:nth-child(2) {
        order: 1;
    }

    .skills1{
        width: 100%;
    }

    .skills1 img{
        
        width: 50%;
    }

    .tools1{
        width: 100%;
    }
    
    .tools1 img{
        width: 30%;
    }

    .tools{
        width: 100%;
        margin: 0;
    }

    .tools h2{margin: 20px;}

    .abilities_main a{
        text-align: center;
        margin: 0;
    }
    .abilities_main button {
        width: 200px;
        height: 30px;
        margin: 0;
        text-align: center;
    }

    #page5{font-size: 0.9em;}
    #page5 .decorated{font-size: 0.7em;}
    #page5 .decorated::before,
    #page5 .decorated::after {
        display: inline-block;
        content: "";
        border-top: .2rem solid #62acb5;
        width: 12%;
        margin: 0 1rem;
        transform: translateY(-0.5rem);
    }

    .projects{
        display: flex;
        flex-direction: column;
    }

    .projects img{
        width: 300px;
        height: 300px;
        margin: 0;
    }

    .projects_left{
        width: 100%;
        margin: 0;
    }

    .projects_right{
        width: 100%;
        margin: 0;
    }

    .left_btn{
        margin-right: -15px;
    }

    .right_btn{
        margin: 0;
    }

    #page6 {font-size: 0.9em;}

}